.App {
  text-align: center;
}
body {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #1719dc,
    #6f0ad9,
    #9b00d5,
    #be00d0,
    #dc17cc
  );
}
.user-container {
  background-color: white;
  padding: 10px;
  width: 40rem;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  gap: 20px;
  transition: 0.2s all;
}
.user-container:hover{
  transform: scale(1.05);
  color: #be00d0;
}
.img {
  border-radius: 50%;
}
.user-name {
  margin-top: 5px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
   margin: 50px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}